
img{
	width: 250px;
}

body{
	margin: 0px;
}

.itemBlock {
	/* 最も高い高さに揃える */
	align-self: stretch;

	margin: 5px;
	padding: 5px;
}

.itemBlock:hover {
	outline: skyblue solid 2px;
}

.itemBlock button {

	display: none;
}

.itemBlock:hover button {

	display: block;
}


.meta, .score{
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}


#itemArea .v-virtual-scroll__container {
	/* FlexBoxを使用 */
	display: flex;

	/* 横並び */
	flex-direction: row;

	/* 下に折り返す */
	flex-wrap: wrap;

	/* 左寄せ */
	justify-content: flex-start;

	/* 上揃え */
	align-items: flex-start;

	/* 複数行になっても上揃え */
	align-content: flex-start;
}

figure {
	margin: 0;
}






