
body{
	margin: 0px;
}

.itemBlock {
	/* 最も高い高さに揃える */
	align-self: stretch;

	margin: 5px;
	padding: 5px;
}

.itemBlock:hover {
	outline: skyblue solid 2px;
}

.itemBlock button {
	display: none;
}

.itemBlock:hover button {

	display: block;
}


#itemArea .meta, #itemArea .score{
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


#itemArea {
	/* gridを使用 */
	display: grid;

	/* 中央寄せ */
	justify-content: center;

	/* 中央寄せ */
	align-items: stretch;

	/* 複数行になって中央寄せ */
	align-content: center;
}

#itemArea .v-card {
	display:flex;
	flex-direction: column;
}






