
img{
	width: 250px;
}

body{
	margin: 0px;
}

.itemBlock {

	/* 最も高い高さに揃える */
	align-self: stretch;

	margin: 5px;
	padding: 5px;
}

.itemBlock:hover {

	outline: skyblue solid 2px;
}

.itemBlock[data-select="1"] {

	background-color: lightcyan;

}

.meta,.score{
	width:250px;
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

#controlArea {

	display: flex;

	/* 上部に固定 */
	position: sticky;
	top: 0;

	/* 下に折り返す */
	flex-wrap: wrap;

	width: 100%;
	box-sizing: border-box;

	background-color: #f5f5f5;
	padding: 5px 10px 5px 10px;	
	border-bottom: lightgray solid 1px;
}


#itemArea {

	/* FlexBoxを使用 */
	display: flex;

	/* 横並び */
	flex-direction: row;

	/* 下に折り返す */
	flex-wrap: wrap;

	/* 左寄せ */
	justify-content: flex-start;

	/* 上揃え */
	align-items: flex-start;

	/* 複数行になっても上揃え */
	align-content: flex-start;
}

figure {
	margin: 0;
}






