<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="./css/common.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app" ref="hogehoge">
        <v-app>
            <v-app-bar id="controlArea">
                <v-app-bar-nav-icon @click.stop="isShowSetting = !isShowSetting"></v-app-bar-nav-icon>
                <v-text-field label="search" id="textSearchBox" single-line dense clearable hide-details="auto" v-model="text" placeholder="Text"></v-text-field>
                <v-btn @click="textSearchButton" prepend-icon="mdi-format-text-variant" class="d-none d-md-flex">テキスト検索</v-btn>
                <v-btn @click="imagesSearchButton" prepend-icon="mdi-image-search " class="d-none d-md-flex">画像検索</v-btn>
                <v-btn @click="textSearchButton" icon="mdi-format-text-variant" class="d-md-none"></v-btn>
                <v-btn @click="imagesSearchButton" icon="mdi-image-search " class="d-md-none"></v-btn>
            </v-app-bar>
            <v-main>
                <div class="scrollArea"
                    id="scroll-target"
                    v-scroll:#scroll-target="updateImageFromScroll"
                    >
                    <v-container>
                        <v-navigation-drawer
                        class="px-5"
                        v-model="isShowSetting"
                        location="bottom"
                        temporary
                        :width="500"
                        >
                            <v-btn @click="nameSearchButton">名前検索</v-btn>
                            <v-btn @click="allDownloadImagesButton">画像を一括ダウンロード</v-btn>
                            <v-btn @click="randomSearchButton">乱数から検索</v-btn>
                            <v-btn @click="querySearchButton">クエリから検索</v-btn>
                            <v-btn @click="addTextFeaturesButton">クエリにテキストの特徴を足す</v-btn>
                            <v-btn @click="tagSearchButton">タグを検索</v-btn>
                            <v-switch label="正規表現を使う" id="trueRegexp" v-model="isRegexp"></v-switch>
                            <span class="rangeSpan d-flex flex-row">
                                <v-slider class="" label="numCols" id="setnNumCols" :min="1" :max="24" :step="1"
                                v-model="numCols"
                                append-icon="mdi-magnify-plus-outline"
                                prepend-icon="mdi-magnify-minus-outline"
                                thumb-label
                                ></v-slider>
                                <v-text-field
                                class=""
                                v-model="numCols"
                                hide-details
                                single-line
                                density="compact"
                                type="number"
                                style="width: 100px"
                                ></v-text-field>
                            </span>
                            <v-slider label="aesthetic quality beta" :min="-1" :max="1" :step="0.01"
                                v-model="aesthetic_quality_beta"
                                thumb-label
                                ></v-slider>
                            <v-range-slider label="aesthetic quality range" :min="0" :max="1" :step="0.01"
                            v-model="aesthetic_quality_range"
                            thumb-label
                            ></v-range-slider>
                            <v-slider label="features strength" :min="-2" :max="2" :step="0.1"
                                v-model="features_strength"
                                thumb-label
                                ></v-slider>
                            <v-autocomplete
                            v-model="model_name"
                            label="model_name"
                            :items="['ViT-bigG-14','ViT-L-14','ViT-L-14-336', 'ViT-SO400M-14-SigLIP-384', 'ViT-SO400M-16-SigLIP-i18n-256']"
                            ></v-autocomplete>
                            <v-autocomplete
                            v-model="pretrained"
                            label="pretrained"
                            :items="['laion2b_s39b_b160k','commonpool_xl_s13b_b90k','openai', 'webli']"
                            ></v-autocomplete>
                            <v-autocomplete
                            v-model="aesthetic_model_name"
                            label="aesthetic_model_name"
                            :items="['original','pony']"
                            ></v-autocomplete>
                            <v-text-field
                            v-model="search_query"
                            label="search query"
                            ></v-text-field>
                            <v-file-input
                            v-model="uploadFile"
                            label="upload image"
                            prepend-icon="mdi-upload"
                            hide-details="auto"
                            ></v-file-input>
                            <v-btn @click="uploadImageSearchButton">アップロード検索</v-btn>
                        </v-navigation-drawer>
                        <div id="itemArea"
                        :style="'grid-template-columns: repeat(' + numCols + ', minmax(100px, 1fr)); padding-top: ' + padding_top + 'px; padding-bottom: ' + padding_bottom + 'px;'"
                            >
                            <v-card
                            v-for="(item, index) in displayItems"
                            :key="item.id"
                            @click="onSelectItem"
                            :class="[{'selectedItem' : selectedItemId[item.id]}, 'itemBlock']"
                            :color="selectedItemId[item.id] ? 'light-blue-lighten-4' : null"
                            :data-index="index"
                            :data-selected="selectedItemId[item.id]"
                            >
                                <v-img :src="item.img" :title="item.img_name" height="200" transition="false" v-show="true">
                                    <v-btn icon>
                                        <v-icon icon="mdi-arrow-expand-all" color="info"></v-icon>
                                        <v-dialog
                                            activator="parent"
                                            width="auto"
                                        >
                                            <v-card>
                                                <v-img :src="item.img" :title="item.img_name" width="90vw" height="85vh"></v-img>
                                                <v-card-title>
                                                    <span class="meta">{{ item.img_name }}</span>
                                                    <a :href="item.img" :download="item.img_name.split('\\').pop()">
                                                        <v-icon icon="mdi-download" color="info"></v-icon>
                                                    </a>
                                                </v-card-title>
                                            </v-card>
                                        </v-dialog>
                                    </v-btn>
                                </v-img>
                                <span class="meta" :style="{width: 1 + 'fr'}">{{ item.img_name }}</span>
                                <span class="tags" :style="{width: 1 + 'fr'}">{{ item.tags }}</span>
                                <span class="score" :style="{width: 1 + 'fr'}">{{ item.score }}</span>
                            </v-card>
                        </div>
                    </v-container>
                </div>
            </v-main>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5/dist/vuetify.min.js"></script>
    <script type="module" src="./js/main.js"></script>
</body>

</html>