<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="./css/common.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app" ref="hogehoge">
        <v-app>
            <v-app-bar id="controlArea">
                <v-app-bar-nav-icon @click.stop="isShowSetting = !isShowSetting"></v-app-bar-nav-icon>
                <v-text-field label="search" id="textSearchBox" single-line dense clearable hide-details="auto" v-model="text" placeholder="Text"></v-text-field>
                <v-btn @click="textSearchButton" prepend-icon="mdi-text-box-search" class="d-none d-md-flex">テキスト検索</v-btn>
                <v-btn @click="imagesSearchButton" prepend-icon="mdi-image-search " class="d-none d-md-flex">画像検索</v-btn>
                <v-btn @click="textSearchButton" icon="mdi-text-box-search" class="d-md-none"></v-btn>
                <v-btn @click="imagesSearchButton" icon="mdi-image-search " class="d-md-none"></v-btn>
            </v-app-bar>
            <v-main>
                <div class="scrollArea"
                    id="scroll-target"
                    v-scroll:#scroll-target="updateImageFromScroll"
                    >
                    <v-container>
                        <v-navigation-drawer
                        class="px-5"
                        v-model="isShowSetting"
                        location="bottom"
                        temporary
                        >
                            {{ text }}
                            <v-btn @click="nameSearchButton">名前検索</v-btn>
                            <v-btn @click="copyImagesButton">画像をコピー</v-btn>
                            <v-switch label="正規表現を使う" id="trueRegexp" v-model="isRegexp"></v-switch>
                            <span class="rangeSpan d-flex flex-row">
                                <v-slider class="" label="numCols" id="setnNumCols" :min="1" :max="24" :step="1"
                                v-model="numCols"
                                append-icon="mdi-magnify-plus-outline"
                                prepend-icon="mdi-magnify-minus-outline"
                                thumb-label
                                ></v-slider>
                                <v-text-field
                                class=""
                                v-model="numCols"
                                hide-details
                                single-line
                                density="compact"
                                type="number"
                                style="width: 100px"
                                ></v-text-field>
                            </span>
                            <v-slider label="aesthetic quality beta" :min="-1" :max="1" :step="0.01"
                                v-model="aesthetic_quality_beta"
                                thumb-label
                                ></v-slider>
                            <v-range-slider label="aesthetic quality range" :min="0" :max="10" :step="0.1"
                            v-model="aesthetic_quality_range"
                            thumb-label
                            ></v-range-slider>
                            <v-autocomplete
                            v-model="model_name"
                            label="model_name"
                            :items="['ViT-L-14','ViT-L-14-336','ViT-bigG-14']"
                            ></v-autocomplete>
                            <v-autocomplete
                            v-model="pretrained"
                            label="pretrained"
                            :items="['openai','laion2b_s39b_b160k','commonpool_xl_s13b_b90k']"
                            ></v-autocomplete>
                        </v-navigation-drawer>
                        <div id="itemArea"
                        :style="'grid-template-columns: repeat(' + numCols + ', minmax(100px, 1fr)); padding-top: ' + padding_top + 'px; padding-bottom: ' + padding_bottom + 'px;'"
                            >
                            <v-card
                            v-for="item in displayItems"
                            @click="item.selected = !item.selected"
                            :class="[{'selectedItem' : item.selected}, 'itemBlock']"
                            :color="item.selected ? 'light-blue-lighten-4' : null"
                            >
                                <v-img :src="item.img" :title="item.img_name" height="200" transition="false">
                                    <v-btn icon>
                                        <v-icon icon="mdi-arrow-expand-all" color="info"></v-icon>
                                        <v-dialog
                                            activator="parent"
                                            width="auto"
                                        >
                                            <v-card>
                                                <v-img :src="item.img" :title="item.img_name" width="90vw" height="85vh"></v-img>
                                                <v-card-title>
                                                    <span class="meta">{{ item.img_name }}</span>
                                                </v-card-title>
                                            </v-card>
                                        </v-dialog>
                                    </v-btn>
                                </v-img>
                                <span class="meta" :style="{width: 1 + 'fr'}">{{ item.img_name }}</span>
                                <span class="score" :style="{width: 1 + 'fr'}">{{ item.score }}</span>
                            </v-card>
                        </div>
                    </v-container>
                </div>
            </v-main>
            <v-btn variant="tonal" @click="showNextImg">
                show img
            </v-btn>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.x/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script>
    <script type="module" src="./js/main.js"></script>
</body>

</html>