<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="./templates/css/common.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <main>
        <div id="app">
            <div id="controlArea" >
                <input type="search" id="textSearchBox" placeholder="文字列" v-model:text="text">
                <input type="button" value="テキスト検索" @click="textSearchButton">
                <input type="button" value="画像検索" @click="imagesSearchButton">
            </div>
            {{ message }}
            <nav>
                <ul>
                    <li @click="isSelect('search')" :class="{'selectedItem': selectedTab === 'search'}">search</li>
                    <li @click="isSelect('setting')" :class="{'selectedItem': selectedTab === 'setting'}">setting</li>
                </ul>
            </nav>

            <div id="settingArea" v-if="selectedTab === 'setting'">
                <span class="checkboxBlock">
                    <input type="checkbox" id="trueRegexp">
                    <label for="trueRegexp" class="label">正規表現を使う</label>
                </span>

                <span class="rangeSpan">
                    ImageSize
                    <input type="range" id="setImageSize" min="10" max="1000" step="10" v-model:value="image_size">
                    <span id="showImageSize">{{ image_size }}</span>
                </span>
                <span class="rangeSpan">
                    Ratio
                    <input type="range" id="setRatio" min="0" max="1" step="0.05" value="0.5">
                    <span id="showRatio">0.5</span>
                </span>
                <span class="selectCountBlock"><span id="num">0</span>個を選択中</span>
            </div>
            
            <div id="itemArea">
                <div v-for="item in items">
                    <div @click="item.selected = !item.selected" :class="[{'selectedItem' : item.selected}, 'itemBlock']">
                        <figure>
                            <img :src="item.img" :title="item.img_name" :style="{width: image_size + 'px'}">
                            <figcaption>
                                <span class="meta">{{ item.img_name }}</span><br>
                                <span class="score">{{ item.score }}</span>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                
                <button @click="getimgs">get img</button>
            </div>
            
        
        </div>
    </main>
    <script src="./templates/js/common.js"></script>
	<script src="./templates/js/main.js"></script>
</body>
</html>